<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/tasks}">Task overview</a>
<form method="post" th:action="@{/tasks/new}">
    <h2>Add task</h2>
    <div>
        <label for="id">Task ID: (when value is 0, ID will automatically be assigned) </label><br>
        <input type="number" name="id" id="id" value="0">
    </div>
    <br>
    <div>
        <label for="title">Title: </label><br>
        <input type="text" name="title" id="title">
    </div>
    <br>
    <div>
        <label for="description">Description: </label><br>
        <input type="text" name="description" id="description">
    </div>
    <br>
    <div>
        <label for="dueDate">Due date: </label><br>
        <!--Voorbeeld: 05-02-1995 12:46-->
        <input type="datetime-local" name="dueDate" id="dueDate">
    </div>
    <br>
    <input type="submit" value="Add task">
</form>

</body>
</html>
